* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#heading1 {
    text-align: center;
    padding: 20px;
    background-color: tomato;
    color: white;
    font-size: 30px;}


P {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
}

li {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        list-style: none;
    }

.container-1{
    display: flex;
    align-items:baseline;
    
}

.container-1 div{
    border:1px #ccc solid;
    padding:10px
}

.divbox1 {
    background-color:blue;
    flex: 1;
}

.divbox2{
    flex: 1;
    background-color: black;
}

.divbox3{
    flex: 1;
    background-color: black;
}

h2{
    text-align: center;
}
    /* "id=" uses "#___{}", "class=" uses ".____{}" and tags like <h1> use */